<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yesgaori.memo.post.repository.PostRepository">
 	
 	<insert id="insertPost" parameterType="map">
 	
 		INSERT INTO
 			`post`
 			(
 				`userId`
 				,`title`
 				,`content`
 				, `imagePath`
 			)
 		VALUE
			(
				#{userId}
				, #{title}
				, #{content}
				, #{imagePath}
			)
			 	
 	
 	
 	</insert>
 	
 	<select id="selectPostList" resultType="com.yesgaori.memo.post.domain.Post">
 		
 		SELECT
 			`id`
 			, `userId`
 			, `title`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY
 			`id` DESC
 	
 	</select>
 	
 	<select id="selectPost" parameterType="int" 
 	resultType="com.yesgaori.memo.post.domain.Post">
 	
 		SELECT
 			`id`
 			, `userId`
 			, `title`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{id}
 	
 	
 	
 	</select>
 	<update id="updatePost" parameterType="map">
 	
 		UPDATE
 			`post`
 		SET
			`title` = #{title}
			, `content` = #{content}
 			, `updatedAt` = now()
 		WHERE
 			`id` = #{postId}
 	
 	</update>
 	<delete id="deletePost" parameterType="int"> 
 		
 		DELETE FROM
 			`post`
 		WHERE
 			`id` = #{postId}
 		
 	</delete>
 	
 	
 
 </mapper>